# Configuration file

general {
    B:specialRender=true

    # This defines if this mod just acts as a compact version of the vanilla IC2 Windmill or not.'true' means IC2 version, 'false' means, the mod will change some stuff in its own windmills (recommended)This changes for example if the windmills require a rotor or if the wind strength is variable. This will also change the recipe.
    B:useIC2Stuff=false
}


